.nav{
    box-sizing: border-box;
    font-size: 18px;
    width: 100vw;
    font-family:monospace;
    font-weight: 500;
    height:60px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.navLink{
    margin-left:12px;
    cursor: pointer;
    text-decoration: none;
}

.navLinkSpan{
    margin-right:3.5vw;
    display:inline-flex;
    align-items:center;
    line-height:60px;
}

#navIcon{
  display:none;
}

#navLink1{
  margin-left:10vw;
}

#navLink4{
    margin-right:10vw;
    float:right;
}

@media screen and (max-width:768px){
  .nav{
    position: fixed;
    height:40px;
  }
  #navLink1{
    height: 40px;
    line-height:40px;
  }
  #navIcon{
      display:inline;
      position:relative;
      float:right;
      margin-right:10vw;
  }
  .navLinkSpanSmall:not(:nth-child(1)){
      display:none;
  }

  .navLinkSpanSmallToggle:not(:nth-child(1)){
    margin-left:2vw;
    line-height:40px;
    width:100vw;
    height:40px;
  }

  #navLink1.navLinkSpanSmallToggle{
    left:2vw;
    line-height:40px;
    height:40px;
  }

  #navLink2.navLinkSpanSmallToggle{
    position: absolute;
    top:40px;
  }

  #navLink3.navLinkSpanSmallToggle{
    position: absolute;
    top:80px;
  }

  #navLink4.navLinkSpanSmallToggle{
    position: absolute;
    top:120px;
    float:none;
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

}