.about{
    opacity: 0;
}

#about{
    width: 57vw;
    margin: 0 auto;
    margin-bottom: 100px;
    word-wrap: break-word;
}

#about h2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.5;
}

#about h2::first-letter{
    color: var(--green);
    letter-spacing: 2px;
}

#about h2::after{
    content: "";
    display: block;
    position: relative;
    width: 400px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--green);
}

#about h2{
    margin-bottom: 50px;
}


#about p{
    color: rgb(203, 214, 208);
    font-family: monospace;
}

#about p span{
    color: rgb(100, 255, 218);
}



@media screen and (max-width:900px) {
    #about{
        width:85vw;
    }
    #about h2{
        font-size:3rem;
    }
}
@media screen and (max-width:550px) {
    #about h2{
        font-size:2.5rem;
    }
    #about{
        width:90vw;
    }
    
}