.content{
    display: flex;
    flex-direction: column;
    position: relative;
    top:100px;
}

.active{
    transition: opacity 2.5s linear;
    opacity: 1;
}


@media screen and (max-width:550px) {
    .content{
        top:200px;
    }
}

@media screen and (min-width:900px) {
    .sideBar{
        width: 100vw;
        display: fixed;
        bottom: 0;
        height: 100px;
    }
    body{
        background-color: red;
        width:100px;
    }
    
}