.content{
    display: flex;
    flex-direction: column;
    position: relative;
    top:130px;
}

.active{
    transition: opacity 1s linear;
    opacity: 1;
}


@media screen and (max-width:550px) {
    .content{
        top:200px;
    }
}