
#experience{
    width:50vw;
    margin: 0 auto;
    scroll-snap-align: start;
    margin-bottom: 125px;
}

#experience h2{
    margin-bottom: 80px;
}

.experience{
    opacity: 0;
}

.exp-content{
    display: flex;
    justify-content: flex-start;
}

.exp-content .sidena{
    width: 30%;
    margin: 0;
    border-left: 1px solid var(--slate);
}

.exp-btn{
    background: none;
    border: none;
    color: var(--lightest-slate);
    height: 50px;
    width:50%;
    line-height: 50px;
    padding:10px 20px;
    font-size: 1.1rem;
}

#tcs{
    width:70%;
    margin: 0;
}

#tcs h3{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#tcs h3 span{
    color: var(--green);
}

#tcs p{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

ul{
    padding: 20px;
    margin: 0;
}

li span{
    color: var(--green);
}

li::marker{
    font-size: 2rem;
}

#btn-tcs{
    border-left: 4px solid var(--green);
    color: var(--green);
    background-color: var(--light-navy);
}

#experience h2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.5;
}

#experience h2::first-letter{
  color: var(--green);
  letter-spacing: 2px;
}

#experience h2::after{
    content: "";
    display: block;
    position: relative;
    width: 400px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--green);
}

.active{
    transition: opacity 2.5s linear !important;
    opacity: 1 !important;
}

@media screen and (max-width:900px) {
    #experience{
        width:80vw;
        margin-bottom: 100px;
    }
    #experience h2{
        font-size:3rem;
    }.exp-btn{
        padding:10px 10px;
    }
}
@media screen and (max-width:550px) {
    #experience h2{
        font-size:2.5rem;
    }
    .exp-content{
        display: flex;
        flex-direction: column;
    }
    .exp-content .sidena{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid var(--slate);
    }
    #tcs{
        width: 100%;
        margin-top: 50px;
    }.exp-btn{
        font-size: 1.1rem;
        width:25%;
        height: 30px;
    }
    #btn-tcs{
        border-left:none;
        border-bottom: 4px solid var(--green);
    }
}