
#intro{
    color: white;
    width:65vw;
    margin: 0 auto;
    margin-bottom: 180px;
}

#intro-p{
    word-wrap: break-word;
    color:var(--lightest-slate);
    width:80%;
    padding: 0;
    font-size: 1.4rem;
    font-family: monospace;
    line-height: 1.4;
    margin-top: 0;
}

.intro-p{
    opacity: 0;
}

#intro-p span{
    color: var(--green);
}

.active-p{
    transition: opacity 2.5s linear;
    opacity: 1;
}

.intro{
    opacity: 0;
}

h1{
    color:#020c1b;
    font-size:5rem;
    font-family: sans-serif;
    word-break: break-word;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

h1 span{
    opacity:0;
    transition: all 0.4s ease-in-out;
    transform: translateY(50px);
    position: relative;
    display: inline-block;
}

h1 span.fade{
    opacity: 1;
    transform: translateY(0px);
    color:var(--green);
}

.fade:hover{
    transition: all 0.5s ease;
    transform: scale(1.3,1.3);
    color: #f3f3f3;
}

#break{
    animation: break 3s 2 linear;
    transform: scale(1.2,1.2);
    color: #f3f3f3;
}

@keyframes break{
    0%{
        transform: scale(0.8,0.8);
        color:white;
    }
    12.5%{
        transform: scale(1,1);
        color:#d1e1dd;
    }
    25%{
        transform: scale(1.2,1.2);
        color:#b5cdc8;
    }
    50%{
        transform: scale(1.4,1.4);
        color:var(--green);
    }
    62.5%{
        transform: scale(1.4,1.4);
        color:#b5cdc8;
    }
    75%{
        transform: scale(1.2,1.2);
        color:#d1e1dd;
    }87.5%{
        transform: scale(1,1);
        color:var(--green);
    }

    100%{
        transform: scale(0.8,0.8);
        color:var(--green);
    }
}

#intro-blogs{
    width:150px;
    color:var(--green);
    border: 1px solid var(--green);
    background-color: rgba(10, 25, 47, 0.85);
    height: 40px;
    padding: 15px;
    font-size: 1.4rem;
    font-family: monospace;
    margin-top: 50px;
}

#intro-blogs:hover{
    transform: translateY(-5px);
    background-color: rgb(100, 255, 218,0.4)
}

@media screen and (max-width:900px) {
    h1{
        font-size:3rem;
    }
}
@media screen and (max-width:550px) {
    h1{
        font-size:2.5rem;
    }
    #intro{
        width:90vw;
    }
    
    #intro-p{
        font-size: 1.1rem;
        line-height: 1.8;
        width: 100%;
    }
    
}