.header{
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  box-sizing: inherit;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  padding: 0px 40px;
}

.headerDiv{ 
  font-size: var(--fz-xl);
  line-height: 1.3;
  pointer-events: auto !important;
  user-select: auto !important;
  box-sizing: inherit;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

#navRight{ 
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#navRight ol{
  font-size: var(--fz-xl);
  line-height: 1.3;
  pointer-events: auto !important;
  user-select: auto !important;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  box-sizing: inherit;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.navLink{ 
  line-height: 1.3;
  pointer-events: auto !important;
  user-select: auto !important;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  list-style: none;
  box-sizing: inherit;
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
  transition-delay: 0ms;
}

.navLink a{ 
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  padding: 10px;
}

.navLink a::before{
  content: "0" counter(item) ".";
margin-right: 5px;
color: var(--green);
font-size: var(--fz-xxs);
text-align: right;
}

#resume{
  font-size: var(--fz-xl);
  line-height: 1.3;
  pointer-events: auto !important;
  user-select: auto !important;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  box-sizing: inherit;
  transition-delay: 400ms;
}

.link-li{
  display: inline-block;
}

@media screen and (max-width:768px){
  .nav{
    position: fixed;
    height:40px;
  }
  #navLink1{
    height: 40px;
    line-height:40px;
  }
  #navIcon{
      display:inline;
      position:relative;
      float:right;
      margin-right:10vw;
  }
  .navLinkSpanSmall:not(:nth-child(1)){
      display:none;
  }

  .navLinkSpanSmallToggle:not(:nth-child(1)){
    margin-left:2vw;
    line-height:40px;
    width:100vw;
    height:40px;
  }

  #navLink1.navLinkSpanSmallToggle{
    left:2vw;
    line-height:40px;
    height:40px;
  }

  #navLink2.navLinkSpanSmallToggle{
    position: absolute;
    top:40px;
  }

  #navLink3.navLinkSpanSmallToggle{
    position: absolute;
    top:80px;
  }

  #navLink4.navLinkSpanSmallToggle{
    position: absolute;
    top:120px;
    float:none;
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

}