.lpage-nav{
  margin: 0;
  z-index: 100;
  width:100vw;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
}

.lpage-navbarLeft{
  position: relative;
  display: inline;
}

#lpage-navbarCompanyLogo{
  position: absolute;
  display: inline;
  width: 70px;
  top:-30px;
  height:70px;
  bottom: 0;
  left: 4vw;
}

.active{
  transition: opacity 2.5s linear !important;
  opacity: 1 !important;
}


.lpage-a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}


.lpage-navbarRight,.navbarRightActive{
  position: absolute;
  display: inline;
  right: 6vw;
}

.lpage-navbarButton{
  display: none;
  float: right;
  margin-right: 3vw;
}

.lpage-navbarButton span{
  display: block;
  height:3px;
  background-color: white;
}

#lpage-span1{
  margin-top:5px;
  width:50px;
}

#lpage-span2{
  margin-top:5px;
  width:35px;
}

#lpage-span3{
  margin-top:5px;
  width:25px;
}

#lpage-about,#lpage-intro,#lpage-exp,#lpage-projects,#lpage-skills{
  display: inline;
  margin-left: 3vw;
  cursor: pointer;
}

#lpage-logout{
  margin-right:3vw;
}

#lpage-about:hover,#lpage-intro:hover,#lpage-exp:hover,#lpage-projects:hover,#lpage-skills:hover{
  color:var(--green);
}

@keyframes break{
  0%{
      transform: rotate(0) scale(1,1);
  }
  25%{
      transform: rotate(-10deg) scale(1.2,1.2);
  }
  50%{
      transform: rotate(2deg) scale(1,1);

  }

  75%{
      transform: rotate(10deg) scale(1.2,1.2);
  }
  100%{
      transform: rotate(0deg) scale(1,1);
  }
}

@media  only screen and (max-width:768px) {

  .lpage-navbarButton{
      display: inline;
  }

  #lpage-home{
      margin-left:6vw;
      line-height: 2.5rem;
  }

  .lpage-navbarRight{
      display:none;
  }
  .lpage-navbarRightActive{
      position:absolute;
      top:100px;
      display: block;
      float: none;
      background-color: white;
      color: rgb(50, 190, 143);
  }

    .lpage-navbarRightActive #lpage-about,#lpage-intro,#lpage-exp,#lpage-projects,#lpage-skills{
      display: block;
      margin: 0;
      width: 100vw;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 0.5rem;
      padding-left:3vw ;
      border-bottom:0.1px solid rgb(50, 190, 143);
  }
  .lpage-a{
      color:rgb(50, 190, 143);
  }

}