.project-box {
    position: relative;
    max-height:fit-content;
    margin:0 auto;
    flex-direction: column;
  }

  #one{
    display: flex;
    margin-bottom: 100px;
  }

  #two{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
  }

  #three{
    display: flex;
  } 

  #one .project-box{
    float: left;
  }
  
  #two .project-box{
    float: right;
  }
  
  #three .project-box{
    float: left;
  }

  .project-img {
    display: inline-block;
    max-width:600px;
    max-height:600px;
    object-fit: contain;
  }
  .shade {
    width: 600px;
    height: 100%;
    background: var(--green);
    opacity: 0.3;
    position: absolute;
    top:0;
    z-index: 2;
  }

  .project-box .content{
    display: inline-block;
  }
  .project-box .icons{
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 100%;
    position: absolute;
    font-size: 50px;
    top:0;
    z-index: 3;
}

.project-box .icons:hover .iconn{
  display: flex;
}

.project-box .icons .iconn{
    margin-top: 10px;
    display: none;
    line-height: 600px;
    align-items: center;
    color: rgb(10, 25, 47,0.8);
  }

  .iconn:nth-child(1){
    margin-left: 200px;
  }

  .iconn:nth-child(2){
    margin-right:200px;
  }

  .project{
    display: flex;
    flex-direction: column;
    width:500px;
    position: relative;
  }

  .project-title{
    margin:0;
    font-size: 2rem;
    font-family: monospace;
  }

  .project-title a{
    text-decoration: none;
    cursor: pointer;
    color:var(--slate);
  }

  .project-desc{
    background-color:var(--light-navy);
    font-family: monospace;
    padding: 20px;
    width: 600px;
    z-index: 4;
  }

  .project-desc span{
    color: var(--green);
  }

  .project-tech{
    width:500px;
  }

  .project-tech span{
    margin-right:20px;
    color: var(--green);
    font-family: monospace;
  }

  #one .project{
    text-align: right;
    align-items: flex-end;
  }

  #two .project{
    text-align: left;
  }

  #three .project{
    text-align: right;
    align-items: flex-end;
  }

@media screen and (max-width:1300px) {
    .shade{
      width: 100%;
      display: none;
    }
    .project{
      display: block;
      position: absolute;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background-color: rgb(100, 255, 218,0.7);
    }
    #one, #two,#three{
      width: 85vw;
      position: relative;
      display: block;
      margin: 0 auto;
    }
    #one{
      margin-bottom: 100px;
    }
    #two{
      margin-bottom: 50px;
    }#three{
      margin-bottom: 100px;
    }
    #one .project, #two .project, #three .project{
      text-align: left;
      align-items: initial;
    }#one .project-box,#two .project-box,#three .project-box{
      float: left;
    }.project-img {
      max-width:900px;
      width: 100%;
      max-height:100%;
    }
    .project-box{
      width:85vw;
      height: fit-content;
    }.project-desc{
      color: var(--light-navy);
      width: unset;
      background-color: unset;
    }.project-tech span, .project-title a{
      color: var(--light-navy);
    }.project-desc span{
      color: var(--light-navy);
    }
    .project-title{
      padding: 20px;
    }.project-tech{
      padding: 20px;
    }.project-box .icons{
      width: 100%;
      z-index: 5;
  }
  .project-box:nth-child(2){
    margin-bottom: 0px;
  }
}

@media screen and (max-width:810px) {
  #one{
    margin-bottom: 150px;
  }
  #two{
    margin-bottom: 70px;
  }#three{
    margin-bottom: 100px;
  }
}

@media screen and (max-width:700px) {
  #one{
    margin-bottom: 200px;
  }
  #two{
    margin-bottom: 100px;
  }#three{
    margin-bottom: 100px;
  }
}@media screen and (max-width:600px) {
  #one{
    margin-bottom: 250px;
  }
  #two{
    margin-bottom: 150px;
  }#three{
    margin-bottom: 100px;
  }
}@media screen and (max-width:500px) {
  #one{
    margin-bottom: 350px;
  }
  #two{
    margin-bottom: 200px;
  }#three{
    margin-bottom: 100px;
  }
}@media screen and (max-width:400px) {
  #one{
    margin-bottom: 450px;
  }
  #two{
    margin-bottom: 250px;
  }#three{
    margin-bottom: 100px;
  }
}